* {
    margin: 0;
    padding: 0;
}

body {
    background: #2E3740;
    color: #435160;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
}

.mainContent{
    position: absolute;
    top: 0px;
}

.headerTitle {
    color: #2fff00;
    font-family: "Sofia", cursive;
    font-weight: bold;
    font-size: 3.6em;
    text-align: center;
    margin-bottom: 20px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

input[type="text"],input[type="number"] {
    height: 40px;
    width: 66.66666667%;
    background: transparent;
    border: 0;
    border-bottom: 1px solid #1fce6d;
    outline: none;
    color: #ffffff;
    font-size: 16px;
}

input[type="button"] {
    background: #1FCE6D;
    border: 0;
    height: 40px;
    border-radius: 3px 3px 3px 0px;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}
input[type="button"]:hover {
    background: #16aa56;
    animation: button 1s;
    transition: all 1s;
}

.testInputContent{
    transition: all 1s;
}

.testRulesContent{
    height: 300px;
    border-right: 1px solid white;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.testRulesContent h2{
    color:#2fff00;
    font-family: "Sofia", cursive;
}

.testInputContent:hover input[name="test"] {
    /*width: 150px;*/
    border-bottom: 1px solid white;
    transition: all 1s;
}

.testInputContent input[name="test"]:hover{
    width: 66.66666667%;
}

.animated {
    animation-fill-mode: both;
    animation-duration: 1s;
}

.removeAnimation{
    position: absolute;
    right: 0px;
}

.error{
    color: rgba(231, 53, 71, 0.9);
    font-size: 16px;
    margin-top: 10px;
    transition: all 1s ease;
}


.success{
    color: #16aa56;
    font-size: 16px;
    margin-top: 10px;
    transition: all 5s ease;
}

@keyframes button {
    0%, 100% {
        transform: translateX(0);
    }
    10%, 30%, 80%{
        transform: rotate(10deg);
    }
    20%, 40%{
        transform: rotate(-10deg);
    }
}

.m-t-20{
    margin-top:20px ;
}

.m-t-100{
    margin-top:100px ;
}

.m-t-150{
    margin-top:150px ;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
}
::-moz-placeholder { /* Firefox 19+ */
    color: #435160;
    font-size: 14px;
}
:-ms-input-placeholder { /* IE 10+ */
    color: #435160;
    font-size: 14px;
}
:-moz-placeholder { /* Firefox 18- */
    color: #435160;
    font-size: 14px;
}


/*convas*/
html, body {
    overflow: hidden;
}

body {
    margin: 0;
    position: absolute;
    width: 100%;
    height: 100%;
}

canvas{
    width: 100%;
    height: 100%;
}